.idea/
.vs
.venv
venv
*.pt
__pycache__/
Backgrounds_NOME/
Backgrounds_NOME_v1/
Backgrounds_Pauly/
figures/
output_backgrounds_NOME/
output_scenic_grey/
output_scenic_rgb/
output_synthetic/
VISCHEMA-data/
triton/triton-2.1.0-cp311-cp311-win_amd64.whl